body {
  margin: 0;
}

/* #canvasGame {
  border: none;
} */

.scoreBox {
  position: absolute;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.6);
}